# Android Studio specific
*.iml
.idea/
.gradle/
local.properties

# Ignore IDE-specific files
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Mac OS-specific
.DS_Store

# Build folders
/build/
/app/build/
*/build/

# Captures & native builds
captures/
.externalNativeBuild/
.cxx/

# Signing keys (very important)
/*.jks
/*.keystore
